<!DOCTYPE html>
<html>
<head>
<style>
body
}
padding:0px;
margin=:0px;
}
.header
{
width:100%;
background-color:red;
}
.headerinner
{
width:1007px;
margin:0px auto;
padding:0px auto;
}
.headerouter
{
width:100%;
background-color:green;
height:200;
}
.col1
{
width:33%;
b.c:purple;
height:200%;
float:left;
}
.col2
{
width:33%;
background-colorc:yello;
height:200px;
}
.col3
{
width:34%
background-color:orange;
height:200px;
float:left;
}
@media(min-width:961px)and(max-width:1060px)
{
.headerinner
{
width:900px;
margin:0px auto;
padding:0px auto;
}
}
@media(min-width:76px)and(max-width:760px)
{
.headerinner
{
width:500px;
margin:0px auto;
padding:0px auto;
}
.col1
{
width:100%;
background-color:purple;
height:200px;
}
.col2
{
width:100%;
background-color:yello;
height:200px;
}
.col3
{
width:100%;
background-color:orange;
height:200px;
}
@media(min-width:361px)and(max-width:560px)
{
.headerinner
{
width:300px;
margin:0px auto;
padding:0px auto;
}
.col1
{
width:100%;
background-color:parple;
height:200px;
}
.col2
{
width:100%
background-color:yello;
height:200px;
}
.col3
{
width:100%;
background-color:orange;
height:200px;
}
</style>
</head>
<body>
</body>

</html>
